body{
    display:flex;
    height: 100vh;
    justify-content: center;
}



.mainContainer{
 
    display: flex;
    margin:30px;
    position:relative;
   
}

.clean{

    height:40px;
    width:100px;
    position: absolute;
    bottom:70px;
    right:450px;

    border-radius: 8px ;
}


.container{
    position: absolute;

    height: 400px;
    width: 680px;

    right:110px;
    top:125px;

    flex:1;
    display:flex;
    margin:40px;  
    border: 15px solid rgb(205, 204, 204);
    border-radius: 20px;

}

.col{

    flex:1;
    display:flex;
    flex-direction: column;
   
}

.content{
  
    min-width: 5px;
    min-height: 5px;
    flex:1;

    background-color: whitesmoke;
    border:1px solid black;
    border-radius: 1px;
}

.color{
    background-color: purple;
}



